<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="javascript:{}">Transaction Inspector</a></strong>
			- A web app that can load a Quicken file locally, parse it, and display all the transactions within. Everything is run in the browser. I don't have the code in GitHub yet. The loading and parsing works now, but the rendering code is broken. I'm using this project as an excuse to learn React ;)
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="javascript:{}">Recipe and Meal Planner</a></strong>
			- This web app doesn't exist yet! I will add details here as I work on it.
		</h5>
    </div>
  </div>
</div>
</section>
